body {
    background: #000000;
  }
  
  .title {
    width: 100%;
    font-size: 80px;
    font-style: oblique;
    font-weight: bold;
    color:darkslateblue;
    text-align: center;
    background-color: black;
    border: 8px solid darkblue;
  }


  .dino {
    position: absolute;
    bottom: 0;
    background-image: url(w2.gif);
    width: 150px;
    height: 90px;
  }
  
  .cactus {
    position: absolute;
    width: 110px;
    height: 150px;
    background-size:cover;
    bottom: 0;
    background-image: url(fire.gif);
  }
  
  .game-over {
    text-align: center;
    color: purple;
    margin: 150px;
    margin-top:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    background-image: url(/bw1.png);
    width: 70%;
  }
  
  @keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  .background {
    position: absolute;
    bottom: 0px;
    background-image: url('background1.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 900s infinite linear;
    width: 100%;
    height: 500px;
  }